
<div class="section hero">
  <div id="carousel-hero" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-hero" data-slide-to="1"></li>
      <li data-target="#carousel-hero" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <a href="luxury" class="item active">
        <%= image_tag ("body/carousel/luxury.jpg") %>
        <div class="carousel-caption">
          <h1>Luxury Homes</h1>
          <p>
            Delivering custom homes through meticulous design and flawless execution.
          </p>
        </div>
      </a>
      <a href="multi_residential" class="item">
        <%= image_tag ("body/carousel/multi.jpg") %>
        <div class="carousel-caption">
          <h1>Multi Residential</h1>
          <p>
            Finding the balance between the efficient use of space, material and cost to generate the highest value.
          </p>
        </div>
      </a>
      <a href="renovations" class="item">
        <%= image_tag ("body/carousel/renovations.jpg") %>
        <div class="carousel-caption">
          <h1>Renovations</h1>
          <p>
            Understanding and respecting the existing space to seamlessly combine the old and the new.
          </p>
        </div>
      </a>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-hero" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-hero" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<section class="quick_contact">
  <div class="container">
    <h3>Contact <strong>03 9645 9000 </strong>to talk to us about your project.</h3>
  </div>
</section>

<section class="introduction alt_backer centered">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Advanced in construction.</h1>
        <div class="separator">&nbsp;</div>
        <p>Attention to detail, open communication and a genuine passion for building beautiful homes have been the foundations of our success for over five decades.</p>
        <a href="mailto:sales@apc-vic.com" class="button">Share your vision with us</a>
      </div>
    </div>
  </div>
</section>

<section class="options">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="option">
          <div class="image">
            <%= link_to image_tag("body/options/testimonial.jpg", :class=> "img-responsive"), "mailto:sales@apc-vic.com" %>
          </div>
          <p>"They delivered an immensely thorough, fixed estimate within a fortnight. Everything was so transparent.”</p>
          <a href="mailto:sales@apc-vic.com" class="button button-secondary">Contact us today</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="option">
          <div class="image">
            <%= link_to image_tag('body/options/buildtwo.jpg', :class=> "img-responsive"), "buildnew_buildtwo" %>
          </div>
          <p>Looking to upgrade your home? Develop your land and offset the cost of building your new home.</p>
          <a href="buildnew_buildtwo" class="button button-secondary">Learn how</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="option">
          <div class="image">
            <%= link_to image_tag('body/options/plans.jpg', :class=> "img-responsive"), "mailto:sales@apc-vic.com"%>
          </div>
          <p>Our architectural design team can assist you in creating your vision for your new home.</p>
          <a href="mailto:sales@apc-vic.com" class="button button-secondary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="breaker breaker1" data-stellar-background-ratio="0.5"></section>

<section class="about centered">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Three generations of building excellence.</h2>
        <div class="separator">&nbsp;</div>
        <p>Our family has spent three generations refining our ability to construct outstanding homes. From luxury homes to multi-residential investments, you can trust that our team has the knowledge and experience to exceed your every expectation.</p>
      </div>
    </div>
  </div>
</section>

<section class="recognition centered">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to image_tag('body/recognition/logo.jpg'), "http://www.mbav.com.au/vpLink.aspx?ID=1" %>
        <p>We are a member of the <a href="http://www.mbav.com.au/vpLink.aspx?ID=1">Master Builders Association</a>, which means we are committed to promoting the highest standards of workmanship and business conduct.</p>
      </div>
    </div>
  </div>
</section>
